@import "../../../../../themes/societyadmin/variables.scss";

#fileBrowser {
  padding: 0;

  .container {
    display: flex;
  }
  .treeView {
    padding: 0;
    margin: 0 1em 0 0;
  }

  .fileView {
    padding: 0;
    margin: 0;
    min-height: 20em;
    width: 100%;

    .ui.table {
      margin-top: 0;
    }

  }

}


.ui.menu.fileMenu {
   .item>.button {
     margin: -.5em .25em;
   }
  .ui.breadcrumb.item:before {
    display: none;
  }
}

#file-list-table {
  border:none;
  border-radius:0;

  tbody tr td.selectable:hover {
    background: none!important;
    color: rgba(0,0,0,.95)!important;
  }

  tbody tr td.selectable>.ui.input {
    padding: .71428571em;
  }
  .ui[class*="left icon"].input>input {
    padding-left: 1.5em!important;
  }

  .object {

    .ui.text {
      display: inline-flex;
    }

    .ui.input {
      min-width: 50%;
    }

  }
}
